ul{
    list-style-type: none;
    background: rgb(17, 0, 255);
    margin-top: 0px;
    border-color:lightslategray 10px,10px,10px,10px;
    padding-left: 10px;
    margin-bottom: 0px;
}
   
li{
    display: inline-block;
    width: 120px;
    line-height: 60px;
    margin-left: 5px;
}

a{
    text-decoration: none;
    color: rgb(16, 175, 233);
    display: block;
    text-align: center;
    padding-right: 5px;
}

a:hover{
    background: rgb(172, 211, 0);
    color: rgb(31, 60, 222);
    border-radius: 40px;
}

button{
    width: 40%;
    height: 40px;
    border-radius: 10px;
    background-blend-mode: screen;
}


button:hover{
    background: rgb(245, 67, 8);
}

img{
    border-radius: 15px;
    margin-top: 15px;
    width: 75%;
    height: 350px;
    object-fit:fill;
}

.footer{
    text-align: center;
    background-color: rgb(162, 153, 153);
    padding: 5px;
    color: rgb(10, 10, 10);
}

.grid-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr) ;
    background-color:black;
    color: white;
    text-align: center;
}

.card{
    font-size: 45%;
}

@media screen and (max-width: 1023.98px) {
    .film .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        font-size: small;
    }
}
@media screen and (max-width: 767.98px) {
    .navbar_container ul {
        width: 200px;
        overflow-x: scroll;
    }
    .film .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}


.switch-mode{
    position:absolute;
    right: 5px;
    top:5px;
    margin-right: 10px;
    padding-left: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 5px;
    background: transparent;
    border-radius: 5px; 
    width: 60%;
    position: relative;
}

.popup img {
    width: 30%;
    height: 200px
    ;
}

.popup h2 {
    margin-top: 0;
    color: whitesmoke;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(242, 255, 0);
}

.popup .close:hover {
    color: #e94012;
}

.popup .content {
    max-height: 30%;
    overflow: hidden;
    color:rgb(150, 226, 28);
    
}